# Install all with: npm install

# Frontend
react@^18.2.0
react-dom@^18.2.0
react-router-dom@^6.22.0
react-scripts@5.0.1
leaflet@^1.9.4
react-leaflet@^4.2.1

# Backend
express@^5.2.1
pg@^8.20.0
bcryptjs@^3.0.3
jsonwebtoken@^9.0.3
cors@^2.8.6
dotenv@^17.4.0

# Database
@supabase/supabase-js@^2.78.0

# Dev
nodemon@^3.1.14
concurrently@^9.2.1
gh-pages@^6.1.1